.main{
  width: 1500px;
}

.header{
  height: 80px;
  padding: 0px 40px 0px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px -2px gray;

}

.header__log{
  width: 180px;
}

.header__options{
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.sectionHeader{
  font-size: 20px;
  color: #a5cd39;
}

.content{
  width: 801px;
  margin-left: 200px;
  padding: 50px 200px 50px 200px;
}

.content__divider{
  height: 2px;
  background: #00adee;
}

.filterSearch{
  display: flex;
  align-content: center;
  padding-left: 50px;
}

.filterSearch__query , .filterSearch__options , .filterSearch__btn ,.bookDetail__btn,.bookComments__new__btn{
  background: rgba(255,255,255,.1);
   border: none;
   height: 40px;
   font-size: 16px;
   margin: 0;
   outline: 0;
   padding: 7px;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   background-color: #e8eeef;
   color:#8a97a0;
   -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
   box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

.filterSearch__options{
  width: 250px;
  margin-right: 30px;
}

.filterSearch__btn{
  background-color: #a5cd39;
  margin-left: 0px;
}

.filterSearch__btn img {
  width: 100%;
  height: 100%;
}

.book__list{
  display: flex;
  flex-wrap: wrap;
}

.book{
  margin: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.book__img{
  width: 128px;
  height: 182px;
  background-color: "#fafafa";
}

.book__img img{
   width: 100%;
   height: 100%;
}

.book__text{
  margin-bottom: 0;
  width: 128px;
  font-size: 1.2vmin;
  word-wrap: break-word;
}

.bookDetail{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0 30px 0;
}

.bookDetail__img{
  width: 191px;
  height: 272px;
  background-color: "#fafafa";
  margin-right: 40px;
}

.bookRecomendations__img{
  width: 87px;
  height: 124px;
  background-color: "#fafafa";
  margin-right: 40px;
}

.bookDetail__img img ,.bookRecomendations__img img{
  width: 100%;
  height: 100%;
}

.bookDetail__description{
  height: 272px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bookDetail__attr{
  margin-top: 0px;
  margin-bottom: 10px;
}

.bookDetail__btn{
  width: 192px;
  color: white;
  background-color: #00adee;
}

.bookRecomendations__items{
  padding: 0px 0px 30px 30px;
  display: flex;
  align-content: space-around;
}

.bookComments__content{
  margin-left: 30px;
}

.bookComments__new , .bookComment{
  display: flex;
  padding-top: 10px;
  align-items: flex-start;
}

.bookComments__new__title , .bookComment__user{
  margin-top: 0px;
}

.bookComments__new__field , .bookComment__message{
  margin-left: 15px;
}

.bookComment__message p{
  margin-top: 0px;
  margin-bottom: 8px;
}

.bookComments__new__field{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.bookComments__new__btn{
  background-color: #a5cd39;
  width: 192px;
  color: white;
}

.bookComments__new__text{
  height: 75px;
  margin-bottom: 10px;
}

.bookComment__text{
  font-size: 14px;
  color: #999999;
}
